.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 8px 0 0;
  color: #212529;
}

.titlePreview {
  font-size: 28px;
}
